<div class="container">
  <div class="svg-container">
    <img class="" src="svgs/bitcoin-piggy-bank.svg" alt="piggy-bank" />
  </div>
  <h1 style=" grid-row: 2; width: 100%;"><i class="fa-brands fa-bitcoin bitcoin-icon"></i> {{amount}} satoshis </h1>

  <form [formGroup]="formGroupRecarga" (ngSubmit)="onSubmit()">
    <div class="form-section-one">
      <label for="phone">{{ phoneField.label }}</label>

      <input
        [formControlName]="phoneField.name"
        [type]="phoneField.type"
        [id]="phoneField.id"
        [placeholder]="phoneField.placeholder"
        [required]="phoneField.placeholder || false"
      />
    </div>

    <div class="form-section-two">
      <button type="submit" [disabled]="formGroupRecarga.invalid">
        <span><i class="fa-brands fa-bitcoin"></i></span> Recargar
      </button>
      <div
        class="errors-message-container"
        *ngIf="formGroupRecarga.get('phoneControl')?.errors?.['required']"
      >
        ⚠ El número de celular es obligatorio.
      </div>
    </div>
  </form>
</div>
