<footer class="footer" [class.expanded]="isImageExpanded">
  <div class="footer-content">
    <img
      src="https://thumbs.dreamstime.com/b/sonrisa-de-retrato-y-hombre-negocios-con-los-brazos-cruzados-en-el-trabajo-oficina-o-empresa-confianza-cara-feliz-enfrente-278069919.jpg"
      alt="Foto del Representante"
      class="footer-img"
      [class.expanded]="isImageExpanded"
      (click)="expandImage()"
    />
    <div class="footer-details">
      <p class="footer-name">Nombre</p>
      <p class="footer-role">Representante de Empresa</p>
      <p class="footer-contact">
        Tel: +57 300 123 4567 | Email: contacto&#64;empresa.com
      </p>
    </div>
  </div>
</footer>
